.create__header {
  text-align: center;
}

.create {
  display: grid;
  align-items: center;
  justify-content: center;
}

.create__container {
  outline: 1px solid var(--color-light);
  background-color: var(--color-bg-variant);
  width: 80vw;
  height: 80vh;
  border-radius: 2rem;
  padding: 2rem;
  display: grid;
  grid-template-rows: 10% 80% 10%;
}

.nav__buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.create__guide {
  text-align: center;
}

.step {
  position: relative;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2rem;
  gap: 2rem;
}

.first__step {
  grid-template-rows: 10% 60% 10%;
}

.second__step {
  grid-template-rows: 20% 20% 20% 20%;
}

.third__step {
}

.second__step input,
select {
  height: auto !important;
}

.step input,
textarea,
select {
  width: 100%;
  height: 100%;
  background: var(--color-bg);
  padding: 1rem;
  border-radius: 1rem;
  outline: none;
  color: var(--color-light);
  font-family: "Poppins", sans-serif;
  margin: 1rem 0;
  resize: none;
}

.step input::placeholder,
textarea::placeholder,
select::placeholder {
  color: var(--color-light);
}

.step input:focus,
textarea:focus,
select:focus {
  border: 1px solid var(--color-primary);
  background: var(--color-bg-variant);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.dates {
  display: flex;
  width: 100%;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}
